*.o
*.so.*
*~
*.log
*.so
*.pyc
*.png
hacking/*.txt
hacking/asi_120mm_usb
*.ser
README.html
*.yaaca
recorder
perf.data*
libusb-1.0.20/Makefile
libusb-1.0.20/TAGS
libusb-1.0.20/config.h
libusb-1.0.20/config.status
libusb-1.0.20/doc/Makefile
libusb-1.0.20/doc/doxygen.cfg
libusb-1.0.20/examples/.deps/
libusb-1.0.20/examples/Makefile
libusb-1.0.20/libtool
libusb-1.0.20/libusb-1.0.pc
libusb-1.0.20/libusb/.deps/
libusb-1.0.20/libusb/.libs/
libusb-1.0.20/libusb/Makefile
libusb-1.0.20/libusb/TAGS
libusb-1.0.20/libusb/libusb-1.0.la
libusb-1.0.20/libusb/libusb_1_0_la-core.lo
libusb-1.0.20/libusb/libusb_1_0_la-descriptor.lo
libusb-1.0.20/libusb/libusb_1_0_la-hotplug.lo
libusb-1.0.20/libusb/libusb_1_0_la-io.lo
libusb-1.0.20/libusb/libusb_1_0_la-strerror.lo
libusb-1.0.20/libusb/libusb_1_0_la-sync.lo
libusb-1.0.20/libusb/os/.deps/
libusb-1.0.20/libusb/os/.dirstamp
libusb-1.0.20/libusb/os/libusb_1_0_la-linux_udev.lo
libusb-1.0.20/libusb/os/libusb_1_0_la-linux_usbfs.lo
libusb-1.0.20/libusb/os/libusb_1_0_la-poll_posix.lo
libusb-1.0.20/libusb/os/libusb_1_0_la-threads_posix.lo
libusb-1.0.20/stamp-h1
libusb-1.0.20/tests/.deps/
libusb-1.0.20/tests/Makefile
*.jpg
*.ser
pkg
src
astrolove/dcraw-astrolove

